Repository Automaat/finance-buddy: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

feat(api): Phase 5 - Dashboard API with pandas aggregations (#38)
  .env.example
  .gitignore
  .oxlintrc.json
  backend/app/api/dashboard.py
  backend/app/main.py
  backend/app/schemas/dashboard.py
  backend/app/services/dashboard.py
  backend/tests/test_services_dashboard.py
  src/lib/components/ui/button/button.svelte
  src/lib/components/ui/button/index.ts
  src/lib/components/ui/card/card-action.svelte
  src/lib/components/ui/card/card-content.svelte
  src/lib/components/ui/card/card-description.svelte
  src/lib/components/ui/card/card-footer.svelte
  src/lib/components/ui/card/card-header.svelte
  src/lib/components/ui/card/card-title.svelte
  src/lib/components/ui/card/card.svelte
  src/lib/components/ui/card/index.ts
  src/lib/utils.ts
  src/routes/+page.svelte
  src/routes/+page.ts
  src/routes/page.test.ts
Due: backend

fix(backend): auto-init DB on startup + fix deps
  .env.example
  backend/app/main.py
  package-lock.json
  package.json
Due: backend

fix(frontend): force tslib@2.8.1 via overrides
  package-lock.json
  package.json
Due: none

fix(frontend): add Tailwind v4 theme CSS variables
  src/app.css
Due: none

feat(design): implement Nord theme color palette
  src/app.css
  src/routes/+layout.svelte
  src/routes/+page.svelte
  tailwind.config.js
Due: none

refactor(design): migrate from Tailwind to Open Props
  package-lock.json
  package.json
  postcss.config.js
  src/app.css
  src/lib/components/Card.svelte
  src/lib/components/CardContent.svelte
  src/lib/components/CardHeader.svelte
  src/lib/components/CardTitle.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  tailwind.config.js
Due: none

fix(ci): resolve linter and formatting issues
  backend/app/main.py
  backend/finance_buddy_api.egg-info/PKG-INFO
  backend/finance_buddy_api.egg-info/SOURCES.txt
  backend/finance_buddy_api.egg-info/dependency_links.txt
  backend/finance_buddy_api.egg-info/requires.txt
  backend/finance_buddy_api.egg-info/top_level.txt
  src/routes/+page.svelte
Due: backend

fix(frontend): remove old shadcn-svelte components and deps
  package-lock.json
  package.json
  src/lib/components/ui/button/button.svelte
  src/lib/components/ui/button/index.ts
  src/lib/components/ui/card/card-action.svelte
  src/lib/components/ui/card/card-content.svelte
  src/lib/components/ui/card/card-description.svelte
  src/lib/components/ui/card/card-footer.svelte
  src/lib/components/ui/card/card-header.svelte
  src/lib/components/ui/card/card-title.svelte
  src/lib/components/ui/card/card.svelte
  src/lib/components/ui/card/index.ts
  src/lib/utils.ts
Due: none

fix(api): prevent blocking I/O in async lifespan and add test coverage
  backend/app/main.py
  backend/tests/test_main.py
Due: backend

fix(backend): auto-init DB on startup + fix deps (#39)
  .env.example
  backend/app/main.py
  backend/finance_buddy_api.egg-info/PKG-INFO
  backend/finance_buddy_api.egg-info/SOURCES.txt
  backend/finance_buddy_api.egg-info/dependency_links.txt
  backend/finance_buddy_api.egg-info/requires.txt
  backend/finance_buddy_api.egg-info/top_level.txt
  backend/tests/test_main.py
  package-lock.json
  package.json
  postcss.config.js
  src/app.css
  src/lib/components/Card.svelte
  src/lib/components/CardContent.svelte
  src/lib/components/CardHeader.svelte
  src/lib/components/CardTitle.svelte
  src/lib/components/ui/button/button.svelte
  src/lib/components/ui/button/index.ts
  src/lib/components/ui/card/card-action.svelte
  src/lib/components/ui/card/card-content.svelte
  src/lib/components/ui/card/card-description.svelte
  src/lib/components/ui/card/card-footer.svelte
  src/lib/components/ui/card/card-header.svelte
  src/lib/components/ui/card/card-title.svelte
  src/lib/components/ui/card/card.svelte
  src/lib/components/ui/card/index.ts
  src/lib/utils.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  tailwind.config.js
Due: backend

refactor: rename src/ to frontend/ for clearer monorepo structure
  components.json
  frontend/app.css
  frontend/app.d.ts
  frontend/app.html
  frontend/lib/components/Card.svelte
  frontend/lib/components/CardContent.svelte
  frontend/lib/components/CardHeader.svelte
  frontend/lib/components/CardTitle.svelte
  frontend/lib/utils/calculations.test.ts
  frontend/lib/utils/calculations.ts
  frontend/lib/utils/format.test.ts
  frontend/lib/utils/format.ts
  frontend/routes/+layout.svelte
  frontend/routes/+page.svelte
  frontend/routes/+page.ts
  frontend/routes/page.test.ts
  svelte.config.js
  vite.config.ts
Due: frontend

feat: Phase 7 - Snapshot Creation API and UI
  backend/app/api/accounts.py
  backend/app/api/snapshots.py
  backend/app/main.py
  backend/app/schemas/accounts.py
  backend/app/schemas/snapshots.py
  backend/app/services/accounts.py
  backend/app/services/snapshots.py
  src/routes/snapshots/new/+page.svelte
  src/routes/snapshots/new/+page.ts
Due: backend

fix(frontend): format snapshot form with prettier
  src/routes/snapshots/new/+page.svelte
Due: none

test: add comprehensive tests for snapshots and accounts services
  backend/tests/conftest.py
  backend/tests/test_services_accounts.py
  backend/tests/test_services_snapshots.py
Due: backend

fix(test): format test files with ruff
  backend/tests/test_services_accounts.py
  backend/tests/test_services_snapshots.py
Due: backend

fix(snapshots): address PR review - security, validation, cleanup
  backend/app/api/snapshots.py
  backend/app/schemas/accounts.py
  backend/app/schemas/snapshots.py
  backend/app/services/snapshots.py
  backend/tests/test_services_snapshots.py
  src/routes/snapshots/new/+page.svelte
Due: backend

feat: Phase 7 - Snapshot Creation API and UI (#41)
  backend/app/api/accounts.py
  backend/app/api/snapshots.py
  backend/app/main.py
  backend/app/schemas/accounts.py
  backend/app/schemas/snapshots.py
  backend/app/services/accounts.py
  backend/app/services/snapshots.py
  backend/tests/conftest.py
  backend/tests/test_services_accounts.py
  backend/tests/test_services_snapshots.py
  src/routes/snapshots/new/+page.svelte
  src/routes/snapshots/new/+page.ts
Due: backend

feat: replace custom dev script with docker-compose
  .mise.toml
  Dockerfile.dev
  backend/Dockerfile.dev
  backend/uv.lock
  docker-compose.dev.yml
  src/routes/+page.ts
  src/routes/snapshots/new/+page.svelte
  src/routes/snapshots/new/+page.ts
Due: backend

fix: prettier formatting for docker-compose.dev.yml
  docker-compose.dev.yml
Due: none

fix: address PR #42 review comments
  backend/Dockerfile.dev
  docker-compose.dev.yml
  src/routes/+page.ts
  src/routes/snapshots/new/+page.ts
Due: backend

Replace custom dev script with docker-compose (#42)
  .mise.toml
  Dockerfile.dev
  backend/Dockerfile.dev
  backend/uv.lock
  docker-compose.dev.yml
  src/routes/+page.ts
  src/routes/snapshots/new/+page.svelte
  src/routes/snapshots/new/+page.ts
Due: backend

fix(migration): include ROR column and normalize liability values
  backend/scripts/migrate_excel.py
Due: backend

fix(migration): remove unused account_type from loop
  backend/scripts/migrate_excel.py
Due: backend

fix(migration): include ROR column and normalize liability values (#43)
  backend/scripts/migrate_excel.py
Due: backend

chore: add project-specific CLAUDE.md
  CLAUDE.md
Due: none

chore: exclude CLAUDE.md from prettier checks
  .prettierignore
Due: none

Add project-specific CLAUDE.md (#44)
  .prettierignore
  CLAUDE.md
Due: none

feat(snapshots): add investments section and dynamic account management
  backend/app/api/accounts.py
  backend/app/schemas/accounts.py
  backend/app/services/accounts.py
  backend/scripts/migrate_investments.py
  src/routes/snapshots/+page.svelte
  src/routes/snapshots/+page.ts
  src/routes/snapshots/new/+page.svelte
Due: backend

fix: resolve linter warnings and formatting issues
  backend/scripts/migrate_investments.py
  src/routes/snapshots/+page.svelte
  src/routes/snapshots/new/+page.svelte
Due: backend

fix: add type annotations to filter callbacks in template
  src/routes/snapshots/new/+page.svelte
Due: none

test: add tests for account creation functionality
  backend/tests/test_api_accounts.py
  backend/tests/test_services_accounts.py
Due: backend

fix: address PR #45 review comments
  backend/app/schemas/accounts.py
  backend/app/services/accounts.py
  backend/scripts/migrate_investments.py
  backend/tests/test_api_accounts.py
  backend/tests/test_services_accounts.py
  src/routes/snapshots/new/+page.svelte
Due: backend

test: replace flaky API tests with validation-only tests
  backend/tests/test_api_accounts.py
Due: backend

feat(snapshots): add investments section and dynamic account management (#45)
  backend/app/api/accounts.py
  backend/app/schemas/accounts.py
  backend/app/services/accounts.py
  backend/scripts/migrate_investments.py
  backend/tests/test_api_accounts.py
  backend/tests/test_services_accounts.py
  src/routes/snapshots/+page.svelte
  src/routes/snapshots/+page.ts
  src/routes/snapshots/new/+page.svelte
Due: backend

feat(accounts): add CRUD page for managing accounts
  backend/app/api/accounts.py
  backend/app/schemas/accounts.py
  backend/app/services/accounts.py
  src/routes/accounts/+page.svelte
  src/routes/accounts/+page.ts
Due: backend

fix(format): apply ruff formatting to accounts.py
  backend/app/api/accounts.py
Due: backend

fix(accounts): address PR #46 review comments
  backend/app/schemas/accounts.py
  backend/app/services/accounts.py
  backend/tests/test_api_accounts.py
  backend/tests/test_services_accounts.py
  src/lib/components/Modal.svelte
  src/routes/accounts/+page.svelte
Due: backend

fix(tests): remove unused imports in test_services_accounts
  backend/tests/test_services_accounts.py
Due: backend

fix(format): apply ruff formatting to test_services_accounts
  backend/tests/test_services_accounts.py
Due: backend

fix(tests): remove problematic API integration tests
  backend/tests/test_api_accounts.py
Due: backend

Path conditions:
  frontend: any of: frontend/
  backend: any of: backend/
